h1{color:#006666; font-family:calibri; justify-content: center;}
body {background-color:#e6e6ff;}
p {color:#006666; font-family: cormorant; font-size:18px;margin:25px;padding:10px}
h2{color: #4f4f83;}
footer{
     display: flex;
     flex-direction:column;
     align-items: center;
     background-color: beige;
     min-height: 200px;
     justify-content: center;
}

.container {
    color:#1a3f3f;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.im-container{
     display: flex;
     flex-direction: row;
     align-items: center;
     max-width: 800px;
}
.vid-container{
     display: flex;
     align-items: center;
     justify-content: center;
}
.greeting {
     text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
     }
.column {
     flex: 1;
    padding: 10px;
     }
@media (max-width: 600px) {
     .column {
          flex: 100%;
     }
    }
    .container-nav {
     display: flex;
     padding: 10px;
     height: 50px;
     background-color: #818a6a;
     }
     .navbar {
     display: flex;
     justify-content: space-between;
     width: 100%;
     }
     .brand {
     display: flex;
     align-items: center;
     }
     li>a {
     padding: 8px 24px;
     }
     li {
     list-style-type: none;
     }
     a {
     color: #012A36 ;
     text-decoration:none;
     }
     .nav-links {
     display: flex;
     align-items: center;
     }
     .button-menu-toggle {
     display: none;
     }
@media (max-width: 768px) {
          .column {
          flex: 100%;
          }
          .nav-links {
          display: none;
          }
          .button-menu-toggle {
          display: block;
          background-color: white;
          border:none;
          border-radius: 50px;
          padding: 0 24px;
          font-family: monospace;
          font-weight: bold;
          font-size: 20px;
          }
          .nav-links.nav-links-responsive {
          position: absolute;
          display: flex;
          background-color: rgba(20,20,20,0.95);
          width: 100%;
          height: 100%;
          top: 70px;
          left: 0;
          flex-direction: column;
          padding-top: 200px;
          align-items: center;
          gap:70px;
          font-size: 40px;
          }
 }     